body{
    background-color: rgba(0,0,0,0.05);
    font-family: "palanquin" ;
}
#sadrzaj
{
    width: 80%;
    height: 230vh;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

#osnovni
{
    width: 40%;
    height: 230vh;
    background-color: brown;
    float: left;
}

#slika
{
    width: 100%;
    height: auto;
    background-color: firebrick;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

#profil
{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    border-radius: 50%;
}

h1
{
    text-align: center;
    color: white;
}

h2
{
    text-transform: uppercase;
}

#osnovni h2
{
    color: white;
}

#osnovniPodaci
{
    margin-left: 20px;
}

.icon
{
    width: 30px;
    height: 30px;
    float: left;
}


.kontaktLink
{
    line-height: 5px;
    color: white;
    text-decoration: none;
    margin-left: 15px;

}
#osnovniPodaci div
{
    margin-bottom: 5px;
}

#osnovniPodaci div:hover
{
    opacity: 0.6;
}

li
{
    color: rgba(255,255,255,0.7);
}

.istaknuto
{
    color: white;
    margin-left: 10px;
    font-weight: 500;
}

#podaci
{
    width: calc(60% - 60px);
    height: 230vh;
    float: left;
    padding: 30px;
}


#podaci h2
{
    color: dimgray;
    text-align: center;
}

#podaci li
{
    color: dimgray;
}

#podaci .istaknuto
{
    color: dimgray;
    font-weight: bold;
}

#podaci p
{
    color: dimgray;
}